@page "/servers"
@inject DashboardService DashboardService
@using IndexMaintenanceSystem.Models.Ims


<h3>Servers</h3>

<div class="mb-3">
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</div>


<div class="card mt-3">
    <div class="card-body p-0">
        @if (servers == null)
        {
            <div class="p-4">Loading...</div>
        }
        else
        {
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Active</th>
                        <th>Schedule Id</th>
                        <th>Run Immediately</th>
                        <th>Threads</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var server in servers)
                    {
                        <tr>
                            <td>@server.ServerId</td>
                            <td>@server.Name</td>
                            <td>
                                @if(server.Active) { <span class="badge bg-success">Yes</span> } else { <span class="badge bg-danger">No</span> }
                            </td>
                            <td>@server.ScheduleId</td>
                            <td>@server.RunImmediately</td>
                            <td>@server.MaxThreads</td>
                            <td>
                                <a href="/servers/edit/@server.ServerId" class="btn btn-sm btn-outline-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private IEnumerable<Server>? servers;

    protected override async Task OnInitializedAsync()
    {
        servers = await DashboardService.GetServersAsync();
    }
}

